In [ ]:
!pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 47 kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619428 sha256=c834b691aa410cf0e5c2445c5541d08f5b160029e8db513805c0eb7226a48bf0
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
import numpy as np 
import pandas as pd 
from surprise import BaselineOnly
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import KFold
from surprise import KNNBasic,KNNWithMeans
from surprise import accuracy
from surprise.model_selection import PredefinedKFold
from surprise.model_selection import train_test_split
from collections import defaultdict
import io
from surprise.model_selection import GridSearchCV
import csv
import os
import time

In [ ]:
df_wisata = pd.read_csv('hasilrating.csv')
df_wisata.head()

   id_wisata   id_user  rating
0          1   1118914       5
1          1   1925512       2
2          1   5618425       3
3          1   9144181       2
4          1  13212611       3

In [ ]:
df_wisata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2866 entries, 0 to 2865
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_wisata  2866 non-null   int64
 1   id_user    2866 non-null   int64
 2   rating     2866 non-null   int64
dtypes: int64(3)
memory usage: 67.3 KB

In [ ]:
counts = df_wisata['id_wisata'].value_counts()
df_wisata= df_wisata[df_wisata['id_wisata'].isin(counts[counts >= 10].index)]

In [ ]:
df_wisata.shape

(2859, 3)

In [ ]:
counts1 = df_wisata['id_user'].value_counts()
#print(counts1)
df_wisata= df_wisata[df_wisata['id_user'].isin(counts1[counts1 > 3].index)]

In [ ]:
df_wisata.describe()

        id_wisata       id_user      rating
count  207.000000  2.070000e+02  207.000000
mean    17.159420  4.974511e+06    2.637681
std      8.529145  1.212039e+07    1.474420
min      2.000000  7.540000e+02    0.000000
25%      9.000000  4.201600e+04    2.000000
50%     20.000000  8.514410e+05    3.000000
75%     23.000000  4.114916e+06    4.000000
max     29.000000  6.188202e+07    5.000000

In [ ]:
df1 = df_wisata[['id_wisata','id_user','rating']]
df1.head()
print(df1.nunique())

id_wisata    27
id_user      37
rating        6
dtype: int64

In [ ]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df1[['id_wisata','id_user','rating']], reader)

data1 = data

In [ ]:
raw_ratings = data.raw_ratings

In [ ]:
raw_ratings

[(2, 118725, 2.0, None),
 (2, 1892611, 3.0, None),
 (2, 61882019, 2.0, None),
 (3, 3433, 5.0, None),
 (3, 4931, 0.0, None),
 (3, 9819, 0.0, None),
 (3, 12948, 3.0, None),
 (3, 105661, 5.0, None),
 (3, 118725, 0.0, None),
 (3, 125123, 4.0, None),
 (3, 142118, 0.0, None),
 (3, 201891, 0.0, None),
 (3, 696919, 0.0, None),
 (3, 923114, 5.0, None),
 (3, 1133820, 0.0, None),
 (3, 1311891, 5.0, None),
 (3, 1892611, 0.0, None),
 (3, 1892611, 0.0, None),
 (3, 1988127, 4.0, None),
 (3, 2939155, 0.0, None),
 (3, 5382514, 5.0, None),
 (3, 7239124, 0.0, None),
 (3, 7517577, 4.0, None),
 (3, 7517577, 0.0, None),
 (3, 12111914, 0.0, None),
 (3, 12111914, 0.0, None),
 (3, 61882019, 2.0, None),
 (4, 75451, 3.0, None),
 (4, 125123, 2.0, None),
 (4, 546155, 5.0, None),
 (4, 4114916, 4.0, None),
 (4, 7517577, 3.0, None),
 (4, 49525111, 3.0, None),
 (5, 754, 3.0, None),
 (5, 13118, 3.0, None),
 (5, 5382514, 5.0, None),
 (5, 61882019, 3.0, None),
 (6, 3433, 5.0, None),
 (6, 75451, 2.0, None),
 (6, 851441, 5.0, None),
 (6, 14811979, 4.0, None),
 (7, 1379, 2.0, None),
 (7, 3433, 5.0, None),
 (7, 1133820, 2.0, None),
 (7, 1892611, 3.0, None),
 (8, 71191, 0.0, None),
 (8, 118725, 3.0, None),
 (8, 7239124, 3.0, None),
 (8, 61882019, 3.0, None),
 (9, 105661, 5.0, None),
 (9, 696919, 3.0, None),
 (9, 1892611, 1.0, None),
 (9, 12111914, 2.0, None),
 (9, 49525111, 3.0, None),
 (10, 3433, 0.0, None),
 (10, 18691, 0.0, None),
 (10, 75451, 2.0, None),
 (11, 1379, 3.0, None),
 (11, 851441, 5.0, None),
 (12, 3433, 5.0, None),
 (12, 118725, 3.0, None),
 (12, 546155, 3.0, None),
 (12, 851441, 4.0, None),
 (12, 923114, 3.0, None),
 (12, 12111914, 1.0, None),
 (13, 3433, 3.0, None),
 (13, 17629, 2.0, None),
 (13, 851441, 0.0, None),
 (14, 754, 3.0, None),
 (14, 1133820, 3.0, None),
 (15, 12948, 2.0, None),
 (16, 17629, 3.0, None),
 (16, 851441, 0.0, None),
 (16, 7239124, 3.0, None),
 (16, 12111914, 5.0, None),
 (16, 61882019, 2.0, None),
 (18, 12948, 3.0, None),
 (18, 17629, 0.0, None),
 (19, 4931, 0.0, None),
 (19, 9819, 5.0, None),
 (19, 12948, 4.0, None),
 (19, 13118, 2.0, None),
 (19, 18691, 2.0, None),
 (19, 42016, 3.0, None),
 (19, 114418, 2.0, None),
 (19, 118725, 3.0, None),
 (19, 142118, 3.0, None),
 (19, 201891, 3.0, None),
 (19, 851441, 2.0, None),
 (19, 1133820, 3.0, None),
 (19, 2018518, 2.0, None),
 (19, 2939155, 4.0, None),
 (19, 4114916, 2.0, None),
 (19, 7239124, 3.0, None),
 (19, 7517577, 0.0, None),
 (19, 12111914, 2.0, None),
 (19, 49525111, 4.0, None),
 (20, 18691, 2.0, None),
 (20, 42016, 4.0, None),
 (20, 71191, 2.0, None),
 (20, 105661, 3.0, None),
 (20, 114418, 3.0, None),
 (20, 1172777, 3.0, None),
 (20, 1892611, 3.0, None),
 (20, 1988127, 4.0, None),
 (20, 7239124, 4.0, None),
 (20, 12111914, 4.0, None),
 (20, 49525111, 2.0, None),
 (21, 4931, 2.0, None),
 (21, 13118, 3.0, None),
 (21, 105661, 3.0, None),
 (21, 118725, 1.0, None),
 (21, 142118, 1.0, None),
 (21, 201891, 2.0, None),
 (21, 923114, 2.0, None),
 (21, 1133820, 5.0, None),
 (21, 1311891, 4.0, None),
 (21, 1988127, 3.0, None),
 (21, 2939155, 4.0, None),
 (21, 4114916, 4.0, None),
 (21, 5382514, 3.0, None),
 (21, 5382514, 3.0, None),
 (21, 5382514, 3.0, None),
 (21, 7239124, 1.0, None),
 (21, 7517577, 3.0, None),
 (21, 12111914, 3.0, None),
 (22, 3433, 3.0, None),
 (22, 13118, 3.0, None),
 (22, 17629, 4.0, None),
 (22, 71191, 2.0, None),
 (22, 118725, 2.0, None),
 (22, 546155, 3.0, None),
 (22, 546155, 3.0, None),
 (22, 696919, 5.0, None),
 (22, 1133820, 3.0, None),
 (22, 1892611, 4.0, None),
 (22, 2018518, 3.0, None),
 (22, 7239124, 2.0, None),
 (22, 7239124, 2.0, None),
 (22, 12111914, 3.0, None),
 (23, 754, 2.0, None),
 (23, 4931, 0.0, None),
 (23, 9819, 4.0, None),
 (23, 13118, 0.0, None),
 (23, 42016, 3.0, None),
 (23, 114418, 2.0, None),
 (23, 125123, 2.0, None),
 (23, 142118, 0.0, None),
 (23, 201891, 2.0, None),
 (23, 546155, 0.0, None),
 (23, 851441, 0.0, None),
 (23, 1311891, 5.0, None),
 (23, 1311891, 0.0, None),
 (23, 1988127, 1.0, None),
 (23, 2018518, 4.0, None),
 (23, 5382514, 3.0, None),
 (23, 7239124, 3.0, None),
 (23, 7517577, 3.0, None),
 (23, 14811979, 5.0, None),
 (23, 49525111, 3.0, None),
 (24, 754, 3.0, None),
 (24, 1379, 5.0, None),
 (24, 42016, 2.0, None),
 (24, 118725, 3.0, None),
 (24, 923114, 4.0, None),
 (24, 1892611, 3.0, None),
 (24, 14811979, 4.0, None),
 (25, 4931, 3.0, None),
 (25, 9819, 3.0, None),
 (25, 71191, 3.0, None),
 (25, 75451, 3.0, None),
 (25, 696919, 5.0, None),
 (25, 851441, 3.0, None),
 (25, 1133820, 2.0, None),
 (25, 1172777, 2.0, None),
 (25, 4114916, 4.0, None),
 (25, 7239124, 3.0, None),
 (25, 14811979, 3.0, None),
 (26, 754, 3.0, None),
 (26, 125123, 4.0, None),
 (26, 2018518, 3.0, None),
 (27, 754, 5.0, None),
 (27, 42016, 3.0, None),
 (27, 1172777, 3.0, None),
 (27, 1892611, 4.0, None),
 (27, 2939155, 4.0, None),
 (28, 1379, 4.0, None),
 (28, 4931, 0.0, None),
 (28, 9819, 0.0, None),
 (28, 118725, 2.0, None),
 (28, 201891, 4.0, None),
 (28, 546155, 4.0, None),
 (28, 923114, 3.0, None),
 (28, 1133820, 4.0, None),
 (28, 1892611, 3.0, None),
 (28, 7239124, 0.0, None),
 (28, 7517577, 2.0, None),
 (28, 12111914, 3.0, None),
 (28, 14811979, 3.0, None),
 (29, 4931, 3.0, None),
 (29, 9819, 2.0, None),
 (29, 12948, 3.0, None),
 (29, 18691, 1.0, None),
 (29, 114418, 4.0, None),
 (29, 546155, 0.0, None),
 (29, 1172777, 2.0, None),
 (29, 7517577, 3.0, None)]

In [ ]:
hasil = df_wisata.groupby('id_wisata')['rating'].sum()

In [ ]:
hasil

id_wisata
1       30
2       93
3      574
4      156
5      236
6      127
7      214
8       47
9      208
10      75
11      52
12      87
13      23
14      45
15      54
16      58
17      25
18      41
19     850
20     993
21    1125
22     119
23    1164
24     137
25     359
26     186
27      98
28     437
29     366
Name: rating, dtype: int64

In [ ]:
hasil.to_csv('hasilsvd.csv',index=False)

In [ ]:
#raw_ratings.to_csv('hasilsvd.csv',index=False)

In [ ]:
threshold = int(.8 * len(raw_ratings))

In [ ]:
A_raw_ratings = raw_ratings[:threshold]
B_raw_ratings = raw_ratings[threshold:]

trainset, testset = train_test_split(data, test_size=.20)

In [ ]:
data.raw_ratings = A_raw_ratings  # data is now the set A
data1.raw_ratings = B_raw_ratings

In [ ]:
start = time.time()
param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005,0.1],
              'reg_all': [0.4, 0.6], 'n_factors':[100,500]}
grid_search = GridSearchCV(SVD, param_grid, measures=['rmse','mae'], cv=3)
grid_search.fit(data)
end = time.time()
print('best RMSE score')
print(grid_search.best_score['rmse'])
print("Time : ",end-start)

best RMSE score
1.1750992426917082
Time :  0.21423554420471191

In [ ]:
print('combination of parameters that gave the best RMSE score')
print(grid_search.best_params['rmse'])
algo = grid_search.best_estimator['rmse']

combination of parameters that gave the best RMSE score
{'n_epochs': 10, 'lr_all': 0.002, 'reg_all': 0.6, 'n_factors': 500}

In [ ]:
trainset = data.build_full_trainset()
algo.fit(trainset)

# Compute biased accuracy on A
testset= trainset.build_testset()
predictions = algo.test(testset)
print('Biased accuracy on A,', end='   ')
accuracy.rmse(predictions,verbose=True)
print('len(predictions)')
print(len(predictions))

Biased accuracy on A,   RMSE: 0.9444
len(predictions)
42

In [ ]:
# Compute unbiased accuracy on B
testset = data.construct_testset(B_raw_ratings)  # testset is now the set B
predictions = algo.test(testset)
print('Unbiased accuracy on B,', end=' ')
accuracy.rmse(predictions)
print('len(predictions)')
print(len(predictions))

Unbiased accuracy on B, RMSE: 0.9444
len(predictions)
42

In [ ]:
# define a cross-validation iterator
kf = KFold(n_splits=7)
#algo = SVD(n_factors=500, n_epochs=5, lr_all=0.1)

for trainset, testset in kf.split(data1):
    # train and test algorithm.
    algo.fit(trainset)
    
    predictions = algo.test(testset)
    
    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

RMSE: 1.6923
RMSE: 1.4034
RMSE: 0.4886
RMSE: 1.3842
RMSE: 0.7703
RMSE: 1.7135
RMSE: 0.7732